{{ form_start(form) }}

    {{ form_widget(form) }}
    <div class="col-12 gy-6">
        <div class="row g-3 justify-content-end">
            <div class="col-auto">
                <button class="btn btn-phoenix-primary px-5" onclick="location.href='{{ path('app_carrier') }}';">{{ 'Cancel' |trans }}</button>
            </div>
            <div class="col-auto">
                <button type="submit" class="btn btn-primary px-5">{{ 'Save' |trans }}</button>
            </div>
        </div>
    </div>

{{ form_end(form) }}
