<table class="table table-sm fs--1 mb-0">
    <thead>
        <tr>
            <th class="sort align-middle" scope="col" data-sort="name" style="width:40%; min-width:200px;">{{ 'Name' |trans }}</th>
            <th class="align-middle" scope="col"  style="width:20%;  min-width:200px;">{{ 'Delivery' |trans }}</th>
            <th class="align-middle" scope="col"  style="width:25%;  min-width:200px;">{{ 'Collection' |trans }}</th>
            <th class="align-middle" scope="col" style="width:20%;  min-width:200px;">{{ 'Actions' |trans }}</th>
        </tr>
    </thead>
    
    <tbody class="list" id="warehouse-table-body">
        {% for entity in entities %}
            <tr class="hover-actions-trigger btn-reveal-trigger position-static">
                <td class="name align-middle white-space-nowrap">{{ entity.name }}</td>
                <td class="delivery align-middle white-space-nowrap">{{ entity.delivery }} </td>
                <td class="collection align-middle white-space-nowrap">{{ entity.collection }}</td>
                <td class="actions align-middle white-space-nowrap">
                    <a class="btn btn-primary btn-sm" href="{{ path('app_reason_rejection_edit', { reasonEntity: entity.id }) }}" data-original-title="Edit" data-toggle="tooltip">
                        <i class="fa fa-pencil"></i>
                    </a> 
                    <a class="btn btn-danger btn-sm" href="{{ path('app_reason_rejection_delete', { reasonEntity: entity.id }) }}" data-original-title="Remove" data-toggle="tooltip">
                        <i class="fa fa-trash"></i>
                    </a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>