{% extends 'base.html.twig' %}

{% block body %}
    <div 
        class="mt-n5 ms-n6 home-wrapper"
        {{ stimulus_controller('reload-content',  {
            url: path('app_dashboard_refresh'),
            addRouteUrl: path('app_route_addOrder'),
            removeRouteUrl: path('app_route_removeOrder'),
            arrangeSiteUrl: path('app_route_arrangeSites'),
            routeSelectedId: routeSelectedId
        }) }}
        data-action="modal-form:success->reload-content#refreshContent route-dashboard:routeClicked->reload-content#refreshContent google-maps-callback@window->reload-content#initMap"
    >
            <div
                id="left-panel"
                class="home-left-panel home-empty-panel" 
                data-reload-content-target="content" > 
                {{ include('home/_homeDashboard.html.twig')}}
            </div> 
            
            <div id="right-panel" class="home-right-panel home-relative-panel">
                <div class="home-vertical-wrapper">
                    <div  
                        id="routeMap"
                        class="home-vertival-panel tpmap home-empty-panel"
                        data-reload-content-target="mapObj">
                    </div>
                    
                    <div id="unschedule-order-panel" class="bg-soft home-order-panel home-relative-panel ms-2 mb-0">
                        <div class="d-flex flex-row align-items-center justify-content-between mt-2 mb-2">
                            <div class="fw-bold fs-sm-0 ms-2">{{'Unschedule'| trans}}</div>     
                            <a 
                                class="btn btn-primary btn-sm me-4"
                                data-action="modal-form#openModal"
                            >
                                <span class="fas fa-route me-2"></span>
                                <span>{{ 'New Order' | trans }}</span>
                            </a>
                        </div>
                        <div>
                            {{ include('home/_orderList.html.twig', {
                                targetName: "unscheduleOrders",
                                entities: unscheduleOrders  
                            }) }}
                        </div>
                        <div id="right-panel-vertical-gutter" class="home-vertical-gutter"></div>
                    </div>
                </div>

                <div id="horizontal-gutter"class="home-horizontal-gutter"></div>
            </div>
    </div>
{% endblock %}  