{% extends 'base.html.twig' %}

{% block body %}
    <div 
        
        {{ stimulus_controller('reload-content',  {
            url: path('app_dashboard_refresh'),
            addRouteUrl: path('app_route_addOrder'),
            removeRouteUrl: path('app_route_removeOrder'),
            routeSelectedId: routeSelectedId
        }) }}
        data-action="modal-form:success->reload-content#refreshContent route-dashboard:routeClicked->reload-content#refreshContent sortable:addedOrder->reload-content#addOrderToRoute sortable:removedOrder->reload-content#removeOrderToRoute google-maps-callback@window->reload-content#initMap"
    >
        {# <div class="row dashboard-header">
            <div class="col-12">
                <div class="row align-items-center justify-content-between g-3 mb-3">
                    <div class="col-12 col-md-auto">
                    </div>
                    <div class="col-12 col-md-auto">
                        <div class="d-flex">
                            <div  
                                {{ stimulus_controller('modal-form', {
                                    formUrl: path('app_route_new'),
                                    loadingText:  'Loading'|trans
                                })}}
                                data-action="hidden.bs.modal->modal-form#modalHidden"
                            >
                                <a 
                                    class="btn btn-primary px-3 px-sm-5 me-2"
                                    data-action="modal-form#openModal"
                                >
                                    <span class="fas fa-route me-2"></span>
                                    <span>{{ 'Add Route' | trans }}</span>
                                </a>
                            
                                {{ include('widgets/_homeModal.html.twig', {
                                    modalTitle: "Add Route"|trans
                                }) }}
                            </div>

                            <div>
                                <a class="btn btn-phoenix-secondary px-3 px-sm-5 me-2">
                                    <span class="fab fa-first-order me-sm-2"></span>
                                    <span class="d-none d-sm-inline">{{ 'Add Order' | trans }}</span>
                                </a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>  #}

        <div class="home-wrapper" 
            {{ stimulus_controller('sortable') }}
            data-action='reload-content:success->sortable#makeRouteOrdersSortable'
        >
            <div
                id="left-panel"
                class="home-panel home-empty-panel" 
                data-reload-content-target="content" > 
                {{ include('home/_homeDashboard.html.twig')}}
            </div> 
            
            <div  id="right-panel" class="home-panel home-relative-panel">
                <div class="home-vertical-wrapper">
                    <div  
                        id="routeMap"
                        class="home-vertival-panel tpmap home-empty-panel"
                        data-reload-content-target="mapObj">
                    </div>
                    
                    <div id="unschedule-order-panel" class="bg-soft home-order-panel home-relative-panel">
                        <div class="bg-soft d-flex align-items-center flex-row fs--1 px-2 pt-2 pb-2">
                            <div class="fw-bold me-4">{{'Unschedule'| trans}}</div>
                        </div>
                        {{ include('home/_orderList.html.twig', {
                            targetName: "unscheduleOrders",
                            entities: unscheduleOrders  
                        }) }}

                        <div id="right-panel-vertical-gutter" class="home-vertical-gutter"></div>
                    </div>
                    
                </div>

                <div id="horizontal-gutter"class="home-horizontal-gutter"></div>
            </div>
            
        </div>
    </div>
{% endblock %}  