{% extends 'simpleBase.html.twig' %}

{% block body %}
    <div id="cl-wrapper" class="sign-up-container">
        <div class="middle-sign-up">
            <div class="block-flat">
                <div class="header">
                    <h3 class="text-center"><img src="assets/img/logo.png" alt="logo" class="logo-img"></h3>
                </div>
                <div style="margin-bottom: 0px !important;" class="form-horizontal">
                    <div class="content">
                        <h5 class="title text-center"><strong>Sign Up</strong></h5>
                        <hr>
                        
                        {{ form_start(registrationForm, {'attr': { 'novalidate': 'novalidate'}}) }}
                            <div>{{ form_errors(registrationForm) }}</div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <div class="input-group"><span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                                    {{ form_widget(registrationForm.email, {'attr': {'class': 'form-control',  'placeholder': 'E-mail'}}) }}
                                </div>
                                <div style="color: red">
                                    {{ form_errors(registrationForm.email) }}
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-6 col-xs-6">
                                <div class="input-group"><span class="input-group-addon"><i class="fa fa-lock"></i></span>
                                    {{ form_widget(registrationForm.plainPassword.first, {'attr': {'class': 'form-control', 'placeholder': 'Password'}}) }}
                                </div>
                                <div style="color: red">
                                    {{ form_errors(registrationForm.plainPassword.first) }}
                                </div>
                            </div>
                    
                            <div class="col-sm-6 col-xs-6">
                                <div class="input-group"><span class="input-group-addon"><i class="fa fa-lock"></i></span>
                                    {{ form_widget(registrationForm.plainPassword.second, {'attr': {'class': 'form-control', 'placeholder': 'Confirm password'}}) }}
                                </div>
                                <div style="color: red">
                                    {{ form_errors(registrationForm.plainPassword.second) }}
                                </div>
                            </div>
                        </div>
                            
                        <div class="form-group">
                            <div class="col-sm-12">
                                <label>
                                    {{ form_widget(registrationForm.agreeTerms, {'attr': {'class': 'icheck', 'type': 'checkbox'}}) }}
                                    Agree to <a href="#">terms</a> and <a href="#">conditions</a>.
                                </label>
                            </div>
                            <div style="color: red">
                                {{ form_errors(registrationForm.agreeTerms) }}
                            </div>
                        </div>

                        <button type="submit" class="btn btn-block btn-success btn-rad btn-lg">Sign Up</button>

                        <div class="form-group">
                            <div class="col-sm-12 text-center">
                                <label>
                                    Already have an account? <a href="{{ path('app_login') }}">Login here</a>
                                </label>
                            </div>
                        </div>
                        {{ form_end(registrationForm) }}
                    </div>
                </div>
            </div>
            <div class="text-center out-links"><a href="#">© 2013 Your Company</a></div>
        </div>
    </div>
    
{% endblock %}
