{% import _self as formMacros %}

{% macro printAddressRow(addressForm) %}
    <td class="align-middle">                       
        {{ form_widget(addressForm.fullAddress, { 'attr': { 'class': 'form-control form-control-sm', 'placeholder': 'Enter a place'|trans, 'type':'text',  }}) }}
    </td>        
    <td class="align-middle ps-3">{{ form_widget(addressForm.latitude, { 'attr': { 'class': 'form-control form-control-sm', 'type':'number', 'step':'any', 'placeholder': 'Latitude'|trans,  'readonly': '' }}) }}</td>
    <td class="align-middle ps-3">{{ form_widget(addressForm.longitude, { 'attr': { 'class': 'form-control form-control-sm', 'type':'number', 'step':'any', 'placeholder': 'Latitude'|trans,  'readonly': '' }}) }}</td>

    <td class="align-middle ps-3">{{ form_widget(addressForm.street, { 'attr': { 'class': 'form-control form-control-sm', 'type':'text', 'style':'display:none;' }}) }}</td>
    <td class="align-middle">{{ form_widget(addressForm.city, { 'attr': { 'class': 'form-control form-control-sm', 'type':'text', 'style':'display:none;' }}) }}</td>
    <td class="align-middle">{{ form_widget(addressForm.state, { 'attr': { 'class': 'form-control form-control-sm', 'type':'text', 'style':'display:none;' }}) }}</td>
    <td class="align-middle">{{ form_widget(addressForm.postalcode, { 'attr': { 'class': 'form-control form-control-sm', 'type':'text', 'style':'display:none;' }}) }}</td>
    <td class="align-middle">{{ form_widget(addressForm.country, { 'attr': { 'class': 'form-control form-control-sm', 'type':'text', 'style':'display:none;' }}) }}</td>
{% endmacro %} 
 
 
 <div 
    class="row flex-center py-5"
     {{ stimulus_controller('customer-form')}}
>
    <div class="col-xl-6">
        {{ form_start(form, {'attr': { 'novalidate': 'novalidate', 'class': "needs-validation"}}) }}
            <div class="card mb-2">
                <div class="card-body">
                    <div class="row">
                        <div class="d-sm-flex justify-content-between">
                            <h3>{{ 'Customer' |trans }}</h3>
                            <div class="d-flex mb-3">
                                <a href="{{ path('app_customer') }}" class="btn btn-link text-danger px-3 my-0">{{ 'Cancel' |trans}}</a>
                                <button type="submit" class="btn btn-primary">{{ 'Save' |trans }}</button>
                            </div>
                        </div>
                    </div>

                    <div class="row g-2">
                        <div class="col-6">
                            {{ form_label(form.code, 'Code'|trans, {'label_attr': {'class': 'form-label','for': 'codeInput'}}) }}
                            {{ form_widget(form.code, { 'attr': { 'class': 'form-control', 'id':'codeInput', 'type':'text' }}) }}
                        </div>
                        <div class="col-6">
                            {{ form_label(form.name, 'Name'|trans, {'label_attr': {'class': 'form-label','for': 'nameInput'}}) }}
                            {{ form_widget(form.name, { 'attr': { 'class': 'form-control', 'id':'nameInput', 'type':'text' }}) }}
                        </div>

                        <div class="col-6">
                            {{ form_label(form.contact, 'Contact'|trans, {'label_attr': {'class': 'form-label','for': 'contactInput'}}) }}
                            {{ form_widget(form.contact, { 'attr': { 'class': 'form-control', 'id':'contactInput', 'type':'text' }}) }}
                        </div>
                        <div class="col-6">
                            {{ form_label(form.phone, 'Phone'|trans, {'label_attr': {'class': 'form-label','for': 'phoneInput'}}) }}
                            {{ form_widget(form.phone, { 'attr': { 'class': 'form-control', 'id':'phoneInput', 'type':'text' }}) }}
                        </div>

                        <div class="col-6">
                            {{ form_label(form.email, 'Email'|trans, {'label_attr': {'class': 'form-label','for': 'emailInput'}}) }}
                            {{ form_widget(form.email, { 'attr': { 'class': 'form-control', 'id':'emailInput', 'type':'email' }}) }}
                        </div>
                        <div class="col-6">
                            {{ form_label(form.priority, 'Priority'|trans, {'label_attr': {'class': 'form-label','for': 'priorityInput'}}) }}
                            {{ form_widget(form.priority, { 'attr': { 'class': 'form-select', 'id':'priorityInput' }}) }}
                        </div>

                        <div class="col-6">
                            {{ form_label(form.timeFrom, 'Time from'|trans, {'label_attr': {'class': 'form-label','for': 'timefromInput'}}) }}
                            {{ form_widget(form.timeFrom, { 'attr': { 'class': 'form-control datetimepicker', 'id':'timefromInput', 'type':'text', 'placeholder': 'hour : minute'|trans, 'data-options':'{"enableTime":true,"noCalendar":true,"dateFormat":"H:i","disableMobile":true}'}}) }}
                        </div>

                        <div class="col-6">
                            {{ form_label(form.timeUntil, 'Time until'|trans, {'label_attr': {'class': 'form-label','for': 'timeUntilInput'}}) }}
                            {{ form_widget(form.timeUntil, { 'attr': { 'class': 'form-control datetimepicker', 'id':'timeUntilInput', 'type':'text', 'placeholder': 'hour : minute'|trans, 'data-options':'{"enableTime":true,"noCalendar":true,"dateFormat":"H:i","disableMobile":true}'}}) }}
                        </div>
                    </div>

                    <div class="mb-6"></div> 

                    <div class="col-12" id="address_list" data-prototype="{{ formMacros.printAddressRow(form.addresses.vars.prototype)|e('html_attr') }}">
                        <div id="header_list"class="d-sm-flex align-items-center">
                            <h3>{{ 'Addresses' |trans }}</h3>
                            <a
                                data-action="customer-form#onNewItemClick"
                                class="btn btn-link p-0 ms-3">
                                    <span class="fa-solid fa-plus me-1"></span><span>{{'Add new' |trans}}</span>
                            </a>
                        </div>
                        
                        <div class="mb-4"></div> 

                        <table class="table table-borderless table-sm">
                            <thead>
                                <tr>
                                    <th scope="col" style="width:50%;">{{ 'Address' |trans }}</th>
                                    <th  class="ps-3" scope="col" style="width:20%;">{{ 'Latitude' |trans }}</th>
                                    <th class="ps-3" scope="col" style="width:20%;">{{ 'Longitude' |trans }}</th>

                                    <th class="ps-3" scope="col" style="display:none;" >{{ 'Street' |trans }}</th>
                                    <th class="ps-3" scope="col" style="display:none;">{{ 'City' |trans }}</th>
                                    <th class="ps-3" scope="col" style="display:none;">{{ 'State' |trans }}</th>
                                    <th class="ps-3" scope="col" style="display:none;">{{ 'Postalcode' |trans }}</th>
                                    <th class="ps-3" scope="col" style="display:none;">{{ 'Country' |trans }}</th>

                                    <th class="text-end align-middle pe-0" scope="col">{{ 'Action' |trans }}</th>
                                </tr>
                            </thead>

                            <tbody id="tbody" class="list">
                                {% for row in form.addresses %}
                                    <tr class="panel">{{ formMacros.printAddressRow(row) }}</tr>
                                {% endfor %}
                            </tbody>
                        </table>                        
                    </div>
                </div>
            </div>
        {{ form_end(form) }}
    </div>
</div>