<h2 class="text-bold text-1100 mb-5">{{ entityName | trans }}</h2>

<div id="drivers" data-list='{"valueNames":{{ valueNames }}, "page":10,"pagination":true}'>
    
    <div class="row align-items-center justify-content-between g-3 mb-4">
        <div class="col col-auto">
            <div class="search-box">
                <form class="position-relative" data-bs-toggle="search" data-bs-display="static">
                    <input class="form-control search-input search" type="search" placeholder="{% trans with {'%name%': entityName} from 'app' %}Search %name%{% endtrans %}" aria-label="Search" />
                    <span class="fas fa-search search-box-icon"></span>
                </form>
            </div>
        </div>
        <div class="col-auto">
            <div class="d-flex align-items-center">
                <button class="btn btn-link text-900 me-4 px-0"><span class="fa-solid fa-file-import fs--1 me-2"></span>{{ 'Import' |trans }}</button>
                <button class="btn btn-primary" onclick="location.href='{{ path(createEntityPath) }}';"><span class="fas fa-plus me-2"></span>{% trans with {'%name%': entityName} from 'app' %}Add %name%{% endtrans %}</button>
            </div>
        </div>
    </div>

    <div class="mx-n4 mx-lg-n6 px-4 px-lg-6 mb-9 bg-white border-y border-300 mt-2 position-relative top-1">
        <div class="table-responsive scrollbar ms-n1 ps-1">
            {% if entities|length > 0 %}

                {{ include(viewListPath, {
                    entities: entities
                }) }} 

                <div class="row align-items-center justify-content-between py-2 pe-0 fs--1">
                    <div class="col-auto d-flex">
                        <p class="mb-0 d-none d-sm-block me-3 fw-semi-bold text-900" data-list-info="data-list-info"></p><a class="fw-semi-bold" href="#!" data-list-view="*">{{ 'View all' |trans }}<span class="fas fa-angle-right ms-1" data-fa-transform="down-1"></span></a><a class="fw-semi-bold d-none" href="#!" data-list-view="less">{{ 'View Less' |trans }}<span class="fas fa-angle-right ms-1" data-fa-transform="down-1"></span></a>
                    </div>
                    <div class="col-auto d-flex">
                        <button class="page-link" data-list-pagination="prev"><span class="fas fa-chevron-left"></span></button>
                        <ul class="mb-0 pagination"></ul>
                        <button class="page-link pe-0" data-list-pagination="next"><span class="fas fa-chevron-right"></span></button>
                    </div>
                </div>
            {% else %}
                {# TODO: MESSAGE FOR NO ITEMS #}
            {% endif %}
        </div>
    </div>
</div>