{% extends 'simpleBase.html.twig' %}

{% block body %}

<div class="col-sm-10 col-md-8 col-lg-5 col-xl-5 col-xxl-3"><a class="d-flex flex-center text-decoration-none mb-4" href="">
    <div class="d-flex align-items-center fw-bolder fs-5 d-inline-block"><img src="{{ asset('assets/img/icons/logo.png') }}" alt="phoenix" width="58" />
</div>
</a>

<div class="text-center mb-7">
    <h3 class="text-1000">{{ 'Sign In'|trans }}</h3>
    <p class="text-700">{{ 'Get access to your account'|trans }}t</p>
    {% if error %}
        <div class="alert alert-soft-warning" role="alert">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
<div class="alert alert-soft-warning" id="alert-warning" role="alert" style="display:none"></div>
</div>

<form method="POST">

    <div class="mb-3 text-start">
        <label class="form-label" for="email">{{ 'Email'|trans }}</label>
        <div class="form-icon-container">
            <input class="form-control form-icon-input" id="username" name="_username" type="email"  value="{{ lastUsername }}"  placeholder="name@example.com" /><span class="fas fa-user text-900 fs--1 form-icon"></span>
            <div class="invalid-feedback"></div>
        </div>
    </div>

    <div class="mb-3 text-start form-floating">
        <label class="form-label" for="password">{{ 'password'|trans }}</label>
        <div class="form-icon-container inner-addon right-addon">
            <div class="uil fs-0 me-2 uil-eye" style="cursor: pointer" onclick="toggle_password(this)"></div>
            <input class="form-control form-icon-input" id="password" name="_password" type="password" placeholder="{{ 'password'|trans }}" /><span class="fas fa-key text-900 fs--1 form-icon"></span>
            <div class="invalid-feedback"></div>
        </div>
    </div>

    <div class="row flex-between-center mb-7">
        <div class="col-auto">
            <div class="form-check mb-0">
                <input class="form-check-input" id="remember_me" name="_remember_me" type="checkbox" checked="checked" />
                <label class="form-check-label mb-0" for="remember_me">{{'Remember' | trans}}</label>
            </div>
        </div> 
    </div>
    <button class="btn btn-primary w-100 mb-3" type="submit">{{ 'Sign In'|trans }}</button>
</form>
<div class="text-center"><a class="fs--1 fw-bold" href="{{ path('app_register') }}">{{ 'Create an account'|trans }}</a></div>
<div {{ stimulus_controller('login', {
    errorEmailMessage: 'El correo es obligatorio' | trans,
    errorPassMessage: 'La clave es requerida' | trans,
    })}} />
{% endblock %}