{% extends 'base.html.twig' %}

{% block body %}
<div class="row flex-center py-5">
    <div class="col-xl-4">
          {{ form_start(form, {'attr': { 'novalidate': 'novalidate', 'class': "row g-3 mb-6 needs-validation"}}) }}
           <div class="card mb-2">
               <div class="card-body">
                    <div class="d-flex align-items-center mb-2">
                        <h3>{{ 'Shipper' |trans }}</h3>
                    </div>
        
                    <div class="row g-2">
                         <div class="col-sm-6 col-md-12">
                            {{ form_label(form.code,  'Code'|trans, {'label_attr': {'class': 'form-label', 'for': 'inputCode'}}) }}
                            {{ form_widget(form.code, { 'attr': { 'class': 'form-control', 'id':'inputCode', 'type':'text', 'placeholder': 'Code'|trans }}) }}
                            {{ form_errors(form.code) }}
                         </div>

                         <div class="col-sm-6 col-md-12">
                            {{ form_label(form.name,  'Name'|trans, {'label_attr': {'class': 'form-label', 'for': 'inputName'}}) }}
                            {{ form_widget(form.name, { 'attr': { 'class': 'form-control', 'id':'inputCode', 'type':'text', 'placeholder': 'Name'|trans }}) }}
                            {{ form_errors(form.name) }}
                         </div>

                          <div class="col-sm-6 col-md-12">
                            {{ form_label(form.email,  'Email'|trans, {'label_attr': {'class': 'form-label', 'for': 'inputEmail'}}) }}
                            {{ form_widget(form.email, { 'attr': { 'class': 'form-control', 'id':'inputEmail', 'type':'text', 'placeholder': 'Email'|trans }}) }}
                            {{ form_errors(form.email) }}
                         </div>

                        <div class="col-sm-6 col-md-12">
                            {{ form_widget(form.sendNotification, { 'attr': { 'class': 'form-check-input',  'type':'radio','id':'inputNotification', 'checked':'checked'}}) }}
                            {{ form_label(form.sendNotification,  'Send Notification'|trans, {'label_attr': {'class': 'form-check-label',  'for': 'inputNotification' }}) }}
                        </div>

                         <div class="col-12 gy-6">
                            <div class="row g-3 justify-content-end">
                                <div class="col-auto">
                                    <a href="{{ path('app_shipper') }}" class="btn btn-phoenix-primary px-5">{{ 'Cancel' |trans }}</a>
                                </div>
                                <div class="col-auto">
                                    <button type="submit" class="btn btn-primary px-5">{{ 'Save' |trans }}</button>
                                </div>
                            </div>
                        </div>
                    </div>
               </div>
          </div>
          {{ form_end(form) }}
     </div>
</div>
{% endblock %}