<div class="table-responsive scrollbar ms-n1 ps-1">
    <table 
    class="table table-sm table-hover fs--1 mb-0"  
    data-route-dashboard-target="routeTable"
    >
        <thead>
            <tr>
                <th class="sort border-top" data-sort="no">{{ 'Name' |trans }}</th>
                <th class="sort border-top" data-sort="date">{{ 'Email' |trans }}</th>
            </tr>
        </thead>
        {% if entity is not null %}
            {% if entity.users %}
                <tbody class="list" id="users-table-body" data-reload-content-target="users">
                    {% for user in entity.users %}
                        <tr id="{{ user.id}}">
                            <td class="align-middle white-space-nowrap">{{ user.name}}</td>
                            <td class="align-middle white-space-nowrap">{{ user.email}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            {% endif %}
        {% endif %}
    </table>
</div>