<div class="table-responsive scrollbar ms-n1 ps-1">
    <table 
    class="table table-sm table-hover fs--1 mb-0"  
    data-route-dashboard-target="routeTable"
    >
        <thead>
            <tr>
                <th style="display:none;">{{ 'Id.' |trans }}</th>
                <th class="sort border-top" data-sort="no">{{ 'No.' |trans }}</th>
                <th class="sort border-top" data-sort="date">{{ 'Date' |trans }}</th>
                <th class="sort border-top" data-sort="time">{{ 'Time' |trans }}</th>
                <th class="sort border-top" data-sort="warehouse">{{ 'Ship From' |trans }}</th>
                <th class="sort border-top" data-sort="driver">{{ 'Driver' |trans }}</th>
                <th class="border-top" >{{ 'Status' |trans }}</th>
            </tr>
        </thead>
    </table>
</div>