<div {{ attributes }}>
    <div class="overflow-auto">
        <form
            data-action="live#action"
            data-action-name="prevent|saveOrder">

            <div class="row g-4">  
                <div class="col-lg-6">
                    <div class="mb-3">
                        <div class="row g-3">
                            <div class="col-6">
                                <label class="text-1000 fw-bold mb-2" for="order-number">{{ 'Order No.' |trans }}</label>
                                <input
                                    id="order-number"
                                    type="text"
                                    data-model="order.number"
                                    class="form-control {{ _errors.has('order.number') ? 'is-invalid' }}"
                                >
                                {% if _errors.has('order.number') %}
                                    <div class="invalid-feedback">
                                        {{ _errors.get('order.number') }}
                                    </div>
                                {% endif %}
                            </div>
                            <div class="col-6">
                                <label class="text-1000 fw-bold mb-2">{{ 'Type' |trans }}</label>
                                <select 
                                    id="order-type"
                                    data-model="order.type"
                                    class="form-select"
                                >
                                    {% for type in types %}
                                        <option>{{ type |trans }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="mb-3">
                        <label class="text-1000 fw-bold mb-2">{{ 'Ship From' | trans }}</label>
                        <select 
                            name="shipFrom" 
                            data-model="shipFrom"
                            class="{{ _errors.has('shipFrom') ? 'is-invalid' }}"
                            {{ stimulus_controller('symfony/ux-autocomplete/autocomplete', {
                                url: path('ux_entity_autocomplete', { alias: 'shipFrom' })
                            }) }}
                        >
                        </select>
                        {% if _errors.has('shipFrom') %}
                            <div class="invalid-feedback">
                                {{ _errors.get('shipFrom') }}
                            </div>
                        {% endif %}
                    </div>

                    <div class="mb-3">
                        <div class="row g-3">
                            <div class="col-6">
                                <label class="text-1000 fw-bold mb-2">{{ 'Customer Code' | trans }}</label>
                                <select 
                                    name="customer" 
                                    data-model="customer"
                                    data-action="live#action"
                                    data-action-name="onCustomerChanged"
                                    class="{{ _errors.has('customer') ? 'invalid-feedback' }}"
                                    {{ stimulus_controller('symfony/ux-autocomplete/autocomplete', {
                                        url: path('ux_entity_autocomplete', { alias: 'Customer' })
                                    }) }}
                                >
                                </select>
                                {# {% if _errors.has('customer') %}
                                    <div class="invalid-feedback">
                                        {{ _errors.get('customer') }}
                                    </div>
                                {% endif %} #}
                            </div>
                            <div class="col-6">
                                <label class="text-1000 fw-bold mb-2" for="order-customer-name">{{ 'Customer Name' |trans }}</label>
                                <input
                                    id="order-customer-name"
                                    type="text"
                                    data-model="order.customerName"   
                                    class="form-control {{ _errors.has('order.customerName') ? 'is-invalid' }}"
                                >
                            </div>
                        </div>
                    </div>

                    <div class="mb-3">
                        <label class="text-1000 fw-bold mb-2" for="customer-contact">{{ 'Contact Name' |trans }}</label>
                        <input
                            id="customer-contact"
                            type="text"
                            data-model="order.contactName"
                            class="form-control"
                        >
                    </div>

                    <div class="mb-3">
                        <div class="row g-3">
                            <div class="col-6">
                                <label class="text-1000 fw-bold mb-2" for="contact-phone">{{ 'Contact Phone' |trans }}</label>
                                <input
                                    id="contact-phone"
                                    type="text"
                                    data-model="order.customerPhone"
                                    class="form-control"
                                >
                            </div>
                            <div class="col-6">
                                <label class="text-1000 fw-bold mb-2" for="contact-email">{{ 'Contact Email' |trans }}</label>
                                <input
                                    id="contact-emai"
                                    type="text"
                                    data-model="order.customerEmail"
                                    class="form-control"
                                    placeholder = {{ 'Email'|trans }}
                                >
                            </div>
                        </div>
                    </div>

                    <div class="mb-3">
                        <label class="text-1000 fw-bold mb-2" for="order-note">{{ 'Note' |trans }}</label>
                        <input
                            id="order-note"
                            type="text"
                            data-model="order.note"
                            class="form-control"
                        >
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="mb-3">
                        <div class="row g-3">
                            <div class="col-6">
                                <label class="text-1000 fw-bold mb-2" for="order-date">{{ 'Date' |trans }}</label>
                                <input
                                    id="order-date"
                                    type="date"
                                    data-model="orderDate"
                                    class="form-control datetimepicker {{ _errors.has('orderDate') ? 'is-invalid' }}"
                                >
                                {# {% if _errors.has('orderDate') %}
                                    <div class="invalid-feedback">
                                        {{ _errors.get('orderDate') }}
                                    </div>
                                {% endif %} #}
                            </div>
                            <div class="col-6">
                                <label class="text-1000 fw-bold mb-2">{{ 'Priority' |trans }}</label>
                                <select 
                                    id="order-priority"
                                    data-model="order.priority"
                                    class="form-select"
                                >
                                    {% for priority in priorities %}
                                        <option>{{ priority |trans }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="mb-3">
                        <div class="row g-3">
                            <div class="col-6">
                            <label class="text-1000 fw-bold mb-2">{{ 'Shipper' | trans }}</label>
                                <select 
                                    name="shipper" 
                                    data-model="shipper"
                                    class="{{ _errors.has('order.shipper') ? 'is-invalid' }}"
                                    {{ stimulus_controller('symfony/ux-autocomplete/autocomplete', {
                                        url: path('ux_entity_autocomplete', { alias: 'Shipper' })
                                    }) }}
                                >
                                </select>
                                {# {% if _errors.has('order.shipper') %}
                                    <div class="invalid-feedback">
                                        {{ _errors.get('order.shipper') }}
                                    </div>
                                {% endif %} #}
                            </div>
                            <div class="col-6">
                                <label class="text-1000 fw-bold mb-2" for="order-barcode">{{ 'Barcode' |trans }}</label>
                                <input
                                    id="order-barcode"
                                    type="text"
                                    data-model="order.barcode"   
                                    class="form-control"
                                >
                            </div>
                        </div>
                    </div>

                    <div class="mb-3">
                        <label class="text-1000 fw-bold mb-2">{{ 'Address' | trans }}</label>
                        <select 
                            name="address" 
                            data-model="address"
                            class="{{ _errors.has('order.addressId') ? 'is-invalid' }}"
                            {{ stimulus_controller('symfony/ux-autocomplete/autocomplete', {
                                url: path('ux_entity_autocomplete', { alias: 'Address' })
                            }) }}
                        >
                        </select>
                        {# {% if _errors.has('order.addressId') %}
                            <div class="invalid-feedback">
                                {{ _errors.get('order.addressId') }}
                            </div>
                        {% endif %} #}
                    </div>

                    <div class="mb-3">
                        <label class="text-1000 fw-bold mb-2" for="address-zone">{{ 'Address Zone' |trans }}</label>
                        <input
                            id="address-zone"
                            type="text"
                            data-model="order.addressZone"
                            class="form-control"
                        >
                    </div>

                    <div class="mb-3">
                        <div class="row g-3">
                            <div class="col-6">
                                <label class="text-1000 fw-bold mb-2" for="timepicker1">{{ 'Time From' | trans }}</label>
                                <input  data-model="timeFrom" class="form-control datetimepicker flatpickr-input" id="timepicker1" type="text" placeholder="hour : minute" data-options="{&quot;enableTime&quot;:true,&quot;noCalendar&quot;:true,&quot;dateFormat&quot;:&quot;H:i&quot;,&quot;disableMobile&quot;:true}" readonly="readonly">
                            </div>
                            <div class="col-6">
                                <label class="text-1000 fw-bold mb-2" for="timepicker2">{{ 'Time Until' | trans }}</label>
                                <input  data-model="timeUntil" class="form-control datetimepicker flatpickr-input" id="timepicker2" type="text" placeholder="hour : minute" data-options="{&quot;enableTime&quot;:true,&quot;noCalendar&quot;:true,&quot;dateFormat&quot;:&quot;H:i&quot;,&quot;disableMobile&quot;:true}" readonly="readonly">
                            </div>
                        </div>
                    </div>

                    <div class="mb-3">
                        <div class="row g-3">
                            <div class="col-6">
                                <label class="text-1000 fw-bold mb-2" for="order-service-time">{{ 'Service Time' | trans }}</label>
                                <input  data-model="order.serviceTime" class="form-control" id="order-service-time" type="number" >
                            </div>
                            <div class="col-6">
                                <label class="text-1000 fw-bold mb-2" for="order-cod">{{ 'COD' | trans }}</label>
                                <input  data-model="order.cod" class="form-control" id="order-cod" type="number">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row g-3">
                <div class="col-lg-6">
                    <div class="mb-3">
                        <div class="row g-3">
                            <div class="col-6">
                                <label class="text-1000 fw-bold mb-2" for="order-weight">{{ 'Weight' | trans }}</label>
                                <input  data-model="order.weight" class="form-control" id="order-weight" type="number" >
                            </div>
                            <div class="col-6">
                                <label class="text-1000 fw-bold mb-2" for="order-volume">{{ 'Volume' | trans }}</label>
                                <input  data-model="order.volume" class="form-control" id="order-volume" type="number">
                            </div>
                            
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="mb-3">
                        <div class="col-6">
                            <label class="text-1000 fw-bold mb-2" for="order-pkg">{{ 'Plt/Pkg' | trans }}</label>
                            <input  data-model="order.pkg" class="form-control" id="order-pkg" type="number" >
                        </div>
                    </div>
                </div>
            </div>

            <div class="mb-4">
                <div class="d-flex justify-content-between mb-4">
                    <h3>{{ 'Goods' |trans }}</h3>
                     <button
                        data-action="live#action"
                        data-action-name="addLineItem"
                        class="btn btn-sm btn-secondary"
                        type="button"
                    ><span class="fa fa-plus-circle"></span> Add Item</button>
                </div>
                    
                <table class="table">
                        <thead>
                            <tr>
                                <th style="width: 300px;">Description</th>
                                <th style="width: 100px;">Unit</th>
                                <th style="width: 100px;">Price</th>
                                <th style="width: 100px;">Quantity</th>
                                <th style="width: 100px;">Amount</th>
                                <th style="width: 200px;">&nbsp;</th>
                            </tr>
                        </thead>
                    <tbody>
                        {% for key, line in lineItems %}
                            {{ component('OrderLineItem', {
                                key: key,
                                itemId: line.itemId,
                                unitMeasure: line.unitMeasure,
                                qty: line.qty,
                                price: line.price,
                                isEditing: line.isEditing,
                            }) }}
                        {% endfor %}
                    </tbody>
                </table>

            </div>

            <div class="modal-footer border-0 pt-6 px-0 pb-0 ">
                <button class="btn btn-link text-danger px-3 my-0" data-bs-dismiss="modal" aria-label="Close">Cancel</button>
                <button class="btn btn-primary my-0">{{ 'Save' | trans }}</button>
            </div>
        </form>
    </div>
</div>