<tr {{ attributes }}>
    <td>
        {% if isEditing %}
            <select
                data-model="item"
                data-action="live#action"
                data-action-name="onItemChanged"
                class="{{ _errors.has('item') ? 'is-invalid' }}"
                {{ stimulus_controller('symfony/ux-autocomplete/autocomplete', {
                    url: path('ux_entity_autocomplete', { alias: 'Items' })
                }) }}
            >
            </select>
            {% if _errors.has('item') %}
                <div class="invalid-feedback">
                    {{ _errors.get('item') }}
                </div>
            {% endif %}

        {% else %}
            {{ item.name }}
        {% endif %}
    </td>
    
    <td>
        {% if isEditing %}
            <input
                type="text"
                data-model="unitMeasure"
                aria-label="Unit"
                class="form-control"
            >
        {% else %}
            {{ unitMeasure }}
        {% endif %} 
    </td>

    <td>
     {% if isEditing %}
            <input
                type="number"
                data-model="price"
                data-action="live#action"
                data-action-name="calculateAmount"
                class="form-control"
            >
        {% else %}
            {{ price|format_currency('USD') }}
        {% endif %} 
    </td>

    <td>
        {% if isEditing %}
            <input
                type="number"
                data-model="qty"
                data-action="live#action"
                data-action-name="calculateAmount"
                class="form-control {{ _errors.has('qty') ? 'is-invalid' }}"
            >
            {% if _errors.has('qty') %}
                <div class="invalid-feedback">
                    {{ _errors.get('qty') }}
                </div>
            {% endif %}
        {% else %}
            {{ qty }}
        {% endif %}
    </td>

    <td>
        {{ amount|format_currency('USD') }}
    </td>

    <td class="text-end">
        {% if isEditing %}
            <button
                data-action="live#action"
                data-action-name="save"
                class="btn btn-success btn-sm"
                type="button"
            >Save</button>
        {% else %}
            <button
                data-action="live#action"
                data-action-name="edit"
                class="btn btn-primary btn-sm"
                type="button"
            >Edit</button>
        {% endif %}

        <button
            data-action="live#emitUp"
            data-event="removeLineItem(key={{ key }})"
            class="btn btn-link text-danger btn-sm ml-2"
            type="button"
        ><span class="fa fa-times"></span></button>
    </td>
</tr>
