{% extends 'base.html.twig' %}

{% import _self as formMacros %}

{% macro printOrderItemRow(itemForm) %}
    <td class="align-middle">{{ form_widget(itemForm.item, { 'attr': { 'class': 'form-select form-control-sm', 'type':'text' }}) }}</td>
    <td class="align-middle">{{ form_widget(itemForm.unitMeasure, { 'attr': { 'class': 'form-control form-control-sm', 'type':'text' }}) }}</td>
    <td class="align-middle">{{ form_widget(itemForm.qty, { 'attr': { 'class': 'form-control form-control-sm', 'type':'text' }}) }}</td>
    <td class="align-middle">{{ form_widget(itemForm.price, { 'attr': { 'class': 'form-control form-control-sm', 'type':'text' }}) }}</td>
    <td class="align-middle">{{ form_widget(itemForm.totalAmount, { 'attr': { 'class': 'form-control form-control-sm', 'readonly': '', 'type':'text' }}) }}</td>
{% endmacro %} 

{% block body %}

    {% import _self as formMacros %}

    {% macro printOrderItemRow(itemForm) %}
        <td class="align-middle">{{ form_widget(itemForm.item, { 'attr': { 'class': 'form-select form-control-sm', 'type':'text' }}) }}</td>
        <td class="align-middle">{{ form_widget(itemForm.unitMeasure, { 'attr': { 'class': 'form-control form-control-sm', 'type':'text' }}) }}</td>
        <td class="align-middle">{{ form_widget(itemForm.qty, { 'attr': { 'class': 'form-control form-control-sm', 'type':'text' }}) }}</td>
        <td class="align-middle">{{ form_widget(itemForm.price, { 'attr': { 'class': 'form-control form-control-sm', 'type':'text' }}) }}</td>
        <td class="align-middle">{{ form_widget(itemForm.totalAmount, { 'attr': { 'class': 'form-control form-control-sm', 'readonly': '', 'type':'text' }}) }}</td>
    {% endmacro %} 

    <div 
        class="row flex-center  py-1"
        {{ stimulus_controller('order-form')}}>
        <div class="col-xl-7">  
            {{ form_start(form, {'attr': { 'novalidate': 'novalidate', 'class': "row g-3 mb-6 needs-validation", 'id': 'order_form' }}) }}
            <div class="d-sm-flex justify-content-between">
                <h3>{{ 'Order' |trans }}</h3>
                <div class="d-flex mb-3">
                    <a href="{{ path('app_order') }}" class="btn btn-link text-danger px-3 my-0">{{ 'Cancel' |trans}}</a>
                    <button class="btn btn-primary my-0 submit">{{ 'Save' | trans }}</button>
                </div>
            </div>

            <div class="col-12">
                <div class="mb-3">
                    <div class="row">
                        <div class="col-3">
                            {{ form_label(form.number,  'No.'|trans, {'label_attr': {'class': 'text-1000 fw-bold mb-2', 'for': 'order-number'}}) }}
                            {{ form_widget(form.number, { 'attr': { 'class': 'form-control', 'id':'order-number', 'type':'text'}}) }}
                            {{ form_errors(form.number) }}
                        </div>
                        
                        <div class="col-3">
                            {{ form_label(form.type,  'Type'|trans, {'label_attr': {'class': 'text-1000 fw-bold mb-2', 'for': 'order-type'}}) }}
                            {{ form_widget(form.type, { 'attr': { 'class': 'form-select', 'id':'order-type', 'type':'text'}}) }}
                            {{ form_errors(form.type) }}
                        </div>

                        <div class="col-3">
                            {{ form_label(form.date,  'Date'|trans, {'label_attr': {'class': 'text-1000 fw-bold mb-2', 'for': 'order-date'}}) }}
                            {{ form_widget(form.date, { 'attr': { 'class': 'form-control datetimepicker', 'id':'order-date', 'type':'date'}}) }}
                            {{ form_errors(form.date) }}
                        </div>

                        <div class="col-3">
                            {{ form_label(form.priority,  'Priority'|trans, {'label_attr': {'class': 'text-1000 fw-bold mb-2', 'for': 'order-priority'}}) }}
                            {{ form_widget(form.priority, { 'attr': { 'class': 'form-select', 'id':'order-priority', 'type':'text'}}) }}
                            {{ form_errors(form.priority) }}
                        </div>
                    </div>
                </div>

            
                <div class="mb-3">
                    <div class="row">
                        <div class="col-6">
                            {{ form_label(form.shipFrom,  'Ship From'|trans, {'label_attr': {'class': 'text-1000 fw-bold mb-2', 'for': 'order-shipFrom'}}) }}
                            {{ form_widget(form.shipFrom) }}
                            {{ form_errors(form.shipFrom) }}
                        </div>
                        <div class="col-3">
                            {{ form_label(form.shipper,  'Shipper'|trans, {'label_attr': {'class': 'text-1000 fw-bold mb-2', 'for': 'order-shipper'}}) }}
                            {{ form_widget(form.shipper) }}
                            {{ form_errors(form.shipper) }}
                        </div>
                        <div class="col-3">
                            {{ form_label(form.barcode,  'Barcode'|trans, {'label_attr': {'class': 'text-1000 fw-bold mb-2', 'for': 'order-barcode'}}) }}
                            {{ form_widget(form.barcode, { 'attr': { 'class': 'form-control', 'id':'order-barcode', 'type':'text'}}) }}
                            {{ form_errors(form.barcode) }}
                        </div>
                    </div>
                </div>
            </div>

            {# Pickup fiels #}
            <div id="pickup_section" style="display:none;">
                <div class="col-12" >
                    <h3>{{ 'Pickup Details' |trans }}</h3>
                </div>

                <div class="col-12">
                    <div class="mb-3">
                        <div class="row">
                            <div class="col-6">
                                {{ form_label(form.pickupCustomerId,  'Customer'|trans, {'label_attr': {'class': 'text-1000 fw-bold mb-2', 'for': 'order-customer'}}) }}
                                {{ form_widget(form.pickupCustomerId) }}
                                {{ form_errors(form.pickupCustomerId) }}
                            </div> 

                            <div class="col-6">
                                {{ form_label(form.pickupAddressId,  'Address'|trans, {'label_attr': {'class': 'text-1000 fw-bold mb-2', 'for': 'order-address'}}) }}
                                {{ form_widget(form.pickupAddressId, { 'attr': { 'class': 'form-control form-select', 'id':'order-address', 'type':'text'}}) }}
                                {{ form_errors(form.pickupAddressId) }}
                            </div> 
                        </div>
                    </div>

                    <div class="mb-3">
                        <div class="row ">
                            <div class="col-6">
                                {{ form_label(form.pickupContactName,  'Contact Name'|trans, {'label_attr': {'class': 'text-1000 fw-bold mb-2', 'for': 'order.conctat'}}) }}
                                {{ form_widget(form.pickupContactName, { 'attr': { 'class': 'form-control', 'id':'order.conctat', 'type':'text'}}) }}
                                {{ form_errors(form.pickupContactName) }}
                            </div> 
                            <div class="col-6">
                                {{ form_label(form.pickupAddressZone,  'Address Zone'|trans, {'label_attr': {'class': 'text-1000 fw-bold mb-2', 'for': 'order.addressZone'}}) }}
                                {{ form_widget(form.pickupAddressZone, { 'attr': { 'class': 'form-control', 'id':'order.addressZone', 'type':'text'}}) }}
                                {{ form_errors(form.pickupAddressZone) }}
                            </div> 
                        </div>
                    </div>

                    <div class="mb-3">
                        <div class="row">
                            <div class="col-3">
                                {{ form_label(form.pickupCustomerPhone,  'Contact Phone'|trans, {'label_attr': {'class': 'text-1000 fw-bold mb-2', 'for': 'order-phone'}}) }}
                                {{ form_widget(form.pickupCustomerPhone, { 'attr': { 'class': 'form-control', 'id':'order-phone', 'type':'text'}}) }}
                                {{ form_errors(form.pickupCustomerPhone) }}
                            </div> 

                            <div class="col-3">
                                {{ form_label(form.pickupCustomerEmail,  'Contact Email'|trans, {'label_attr': {'class': 'text-1000 fw-bold mb-2', 'for': 'order-email'}}) }}
                                {{ form_widget(form.pickupCustomerEmail, { 'attr': { 'class': 'form-control', 'id':'order-email', 'type':'text'}}) }}
                                {{ form_errors(form.pickupCustomerEmail) }}
                            </div> 

                            <div class="col-3">
                                {{ form_label(form.pickupTimeFrom,  'Time From'|trans, {'label_attr': {'class': 'text-1000 fw-bold mb-2', 'for': 'order-timeForm'}}) }}
                                {{ form_widget(form.pickupTimeFrom, { 'attr': { 'class': 'form-control datetimepicker', 'id':'order-timeForm', 'type':'text', 'placeholder': 'hour : minute'|trans, 'data-options':'{"enableTime":true,"noCalendar":true,"dateFormat":"H:i ","disableMobile":true}'}}) }}
                                {{ form_errors(form.pickupTimeFrom) }}
                            </div> 

                            <div class="col-3">
                                {{ form_label(form.pickupTimeUntil,  'Time Until'|trans, {'label_attr': {'class': 'text-1000 fw-bold mb-2', 'for': 'order-timeUntil'}}) }}
                                {{ form_widget(form.pickupTimeUntil, { 'attr': { 'class': 'form-control datetimepicker', 'id':'order-timeUntil', 'type':'text', 'placeholder': 'hour : minute'|trans, 'data-options':'{"enableTime":true,"noCalendar":true,"dateFormat":"H:i ","disableMobile":true}'}}) }}
                                {{ form_errors(form.pickupTimeUntil) }}
                            </div> 
                        </div>
                    </div>

                    <div class="mb-3">
                        <div class="row">
                            <div class="col-6">
                                {{ form_label(form.pickupNote,  'Note'|trans, {'label_attr': {'class': 'text-1000 fw-bold mb-2', 'for': 'order-note'}}) }}
                                {{ form_widget(form.pickupNote, { 'attr': { 'class': 'form-control', 'id':'order-note', 'type':'text'}}) }}
                                {{ form_errors(form.pickupNote) }}
                            </div> 

                            <div class="col-3">
                                {{ form_label(form.pickupServiceTime,  'Service Time'|trans, {'label_attr': {'class': 'text-1000 fw-bold mb-2', 'for': 'order-servicetime'}}) }}
                                {{ form_widget(form.pickupServiceTime, { 'attr': { 'class': 'form-control', 'id':'order-servicetime', 'type':'number'}}) }}
                                {{ form_errors(form.pickupServiceTime) }}
                            </div> 

                            <div class="col-3">
                                {{ form_label(form.pickupCOD,  'COD'|trans, {'label_attr': {'class': 'text-1000 fw-bold mb-2', 'for': 'order-cod'}}) }}
                                {{ form_widget(form.pickupCOD, { 'attr': { 'class': 'form-control', 'id':'order-cod', 'type':'number'}}) }}
                                {{ form_errors(form.pickupCOD) }}
                            </div> 
                        </div>
                    </div>

                </div>
            </div>
            
            {# delivery fiels #}
            <div id="customer_label" class="col-12" >
                <h3>{{ 'Customer Details' |trans }}</h3>
            </div>

            <div id="delivery_label" class="col-12" style="display:none;">
                <h3>{{ 'Delivery Details' |trans }}</h3>
            </div>

            <div class="col-12">
                <div class="mb-3">
                    <div class="row">
                        <div class="col-6">
                            {{ form_label(form.customerId,  'Customer'|trans, {'label_attr': {'class': 'text-1000 fw-bold mb-2', 'for': 'order-customer'}}) }}
                            {{ form_widget(form.customerId) }}
                            {{ form_errors(form.customerId) }}
                        </div> 

                        <div class="col-6">
                            {{ form_label(form.addressId,  'Address'|trans, {'label_attr': {'class': 'text-1000 fw-bold mb-2', 'for': 'order-address'}}) }}
                            {{ form_widget(form.addressId, { 'attr': { 'class': 'form-control form-select', 'id':'order-address', 'type':'text'}}) }}
                            {{ form_errors(form.addressId) }}
                        </div> 
                    </div>
                </div>

                <div class="mb-3">
                    <div class="row ">
                        <div class="col-6">
                            {{ form_label(form.contactName,  'Contact Name'|trans, {'label_attr': {'class': 'text-1000 fw-bold mb-2', 'for': 'order.conctat'}}) }}
                            {{ form_widget(form.contactName, { 'attr': { 'class': 'form-control', 'id':'order.conctat', 'type':'text'}}) }}
                            {{ form_errors(form.contactName) }}
                        </div> 
                        <div class="col-6">
                            {{ form_label(form.addressZone,  'Address Zone'|trans, {'label_attr': {'class': 'text-1000 fw-bold mb-2', 'for': 'order.addressZone'}}) }}
                            {{ form_widget(form.addressZone, { 'attr': { 'class': 'form-control', 'id':'order.addressZone', 'type':'text'}}) }}
                            {{ form_errors(form.addressZone) }}
                        </div> 
                    </div>
                </div>

                <div class="mb-3">
                    <div class="row">
                        <div class="col-3">
                            {{ form_label(form.customerPhone,  'Contact Phone'|trans, {'label_attr': {'class': 'text-1000 fw-bold mb-2', 'for': 'order-phone'}}) }}
                            {{ form_widget(form.customerPhone, { 'attr': { 'class': 'form-control', 'id':'order-phone', 'type':'text'}}) }}
                            {{ form_errors(form.customerPhone) }}
                        </div> 

                        <div class="col-3">
                            {{ form_label(form.customerEmail,  'Contact Email'|trans, {'label_attr': {'class': 'text-1000 fw-bold mb-2', 'for': 'order-email'}}) }}
                            {{ form_widget(form.customerEmail, { 'attr': { 'class': 'form-control', 'id':'order-email', 'type':'text'}}) }}
                            {{ form_errors(form.customerEmail) }}
                        </div> 

                        <div class="col-3">
                            {{ form_label(form.timeFrom,  'Time From'|trans, {'label_attr': {'class': 'text-1000 fw-bold mb-2', 'for': 'order-timeForm'}}) }}
                            {{ form_widget(form.timeFrom, { 'attr': { 'class': 'form-control datetimepicker', 'id':'order-timeForm', 'type':'text', 'placeholder': 'hour : minute'|trans, 'data-options':'{"enableTime":true,"noCalendar":true,"dateFormat":"H:i ","disableMobile":true}'}}) }}
                            {{ form_errors(form.timeFrom) }}
                        </div> 

                        <div class="col-3">
                            {{ form_label(form.timeUntil,  'Time Until'|trans, {'label_attr': {'class': 'text-1000 fw-bold mb-2', 'for': 'order-timeUntil'}}) }}
                            {{ form_widget(form.timeUntil, { 'attr': { 'class': 'form-control datetimepicker', 'id':'order-timeUntil', 'type':'text', 'placeholder': 'hour : minute'|trans, 'data-options':'{"enableTime":true,"noCalendar":true,"dateFormat":"H:i ","disableMobile":true}'}}) }}
                            {{ form_errors(form.timeUntil) }}
                        </div> 
                    </div>
                </div>

                <div class="mb-3">
                    <div class="row">
                        <div class="col-6">
                            {{ form_label(form.note,  'Note'|trans, {'label_attr': {'class': 'text-1000 fw-bold mb-2', 'for': 'order-note'}}) }}
                            {{ form_widget(form.note, { 'attr': { 'class': 'form-control', 'id':'order-note', 'type':'text'}}) }}
                            {{ form_errors(form.note) }}
                        </div> 

                        <div class="col-3">
                            {{ form_label(form.serviceTime,  'Service Time'|trans, {'label_attr': {'class': 'text-1000 fw-bold mb-2', 'for': 'order-servicetime'}}) }}
                            {{ form_widget(form.serviceTime, { 'attr': { 'class': 'form-control', 'id':'order-servicetime', 'type':'number'}}) }}
                            {{ form_errors(form.serviceTime) }}
                        </div> 

                         <div class="col-3">
                            {{ form_label(form.cod,  'COD'|trans, {'label_attr': {'class': 'text-1000 fw-bold mb-2', 'for': 'order-cod'}}) }}
                            {{ form_widget(form.cod, { 'attr': { 'class': 'form-control', 'id':'order-cod', 'type':'number'}}) }}
                            {{ form_errors(form.cod) }}
                        </div> 
                    </div>
                </div>

            </div>

            <div class="col-12" >
                <h3>{{ 'Capacities' |trans }}</h3>
            </div>

             <div class="col-12">
                <div class="mb-3">
                    <div class="row">
                        <div class="col-3">
                            {{ form_label(form.weight,  'Weight'|trans, {'label_attr': {'class': 'text-1000 fw-bold mb-2', 'for': 'order-weight'}}) }}
                            {{ form_widget(form.weight, { 'attr': { 'class': 'form-control', 'id':'order-weight', 'type':'number'}}) }}
                            {{ form_errors(form.weight) }}
                        </div> 

                        <div class="col-3">
                            {{ form_label(form.volume,  'Volume'|trans, {'label_attr': {'class': 'text-1000 fw-bold mb-2', 'for': 'order-vol'}}) }}
                            {{ form_widget(form.volume, { 'attr': { 'class': 'form-control', 'id':'order-vol', 'type':'number'}}) }}
                            {{ form_errors(form.volume) }}
                        </div>

                         <div class="col-3">
                            {{ form_label(form.pkg,  'Plt/Pkg'|trans, {'label_attr': {'class': 'text-1000 fw-bold mb-2', 'for': 'order-pkg'}}) }}
                            {{ form_widget(form.pkg, { 'attr': { 'class': 'form-control', 'id':'order-pkg', 'type':'number'}}) }}
                            {{ form_errors(form.pkg) }}
                        </div> 
                    </div>
                </div>
            </div>

            <div class="col-12" id="order_list" data-order-form-target='orderList' data-prototype="{{ formMacros.printOrderItemRow(form.orderItems.vars.prototype)|e('html_attr') }}">
                <div id="header_list" class="d-sm-flex align-items-center">
                    <h3>{{ 'Goods' |trans }}</h3>
                    <a
                        data-action="order-form#onNewItemClick"
                        class="btn btn-link p-0 ms-3">
                            <span class="fa-solid fa-plus me-1"></span><span>{{'Add new' |trans}}</span>
                    </a>
                </div>

                <table class="table table-borderless table-sm">
                    <thead>
                        <tr>
                            <th style="width: 30%;">{{ 'Description' |trans }}</th>
                            <th style="width: 10%;">{{ 'Unit' |trans }}</th>
                            <th style="width: 10%;">{{ 'Qty' |trans }}</th>
                            <th style="width: 20%;">{{ 'Price' |trans }}</th>
                            <th style="width: 20%;">{{ 'Amount' |trans }}</th>
                            <th style="width: 10%;">{{ 'Actions' |trans }}</th>
                        </tr>
                    </thead>
                    <tbody id="tbody" class="list">
                        {% for row in form.orderItems %}
                            <tr class="panel">{{ formMacros.printOrderItemRow(row) }}</tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            <div class="modal-footer border-0 pt-0 px-0 pb-0 ">
                <a href="{{ path('app_order') }}" class="btn btn-link text-danger px-3 my-0">{{ 'Cancel' |trans}}</a>
                <button class="btn btn-primary my-0 submit">{{ 'Save' | trans }}</button>
            </div>

            {{ form_end(form) }}

        </div>
    </div>


{% endblock %}

