{% extends 'base.html.twig' %}

{% block body %}
    <h2 class="text-bold text-1100 mb-5">{{ "Orders" | trans }}</h2>

    <div id="orders" 
        {{ stimulus_controller( 'order-list', {
            refreshUrl: path('app_order')
         }) }}>
        <div class="row g-3 justify-content-between mb-4">
            <div class="col-auto">
                <div class="d-md-flex justify-content-between">
                    <div>
                        <button class="btn btn-primary  me-4" onclick="location.href='{{ path('app_order_new') }}';"><span class="fas fa-plus me-2"></span>{{ 'Add Order' | trans }}</button>
                        <button class="btn btn-link text-900 px-0"><span class="fa-solid fa-file-import fs--1 me-2"></span>{{ 'Import' | trans }}</button>
                    </div>
                </div>
            </div>
            <div class="col-auto">
                <div class="d-flex">
                    <div class="search-box me-2">
                        <form class="position-relative" data-bs-toggle="search" data-bs-display="static">
                            <input 
                                class="form-control search-input search" 
                                type="search" 
                                name="query"
                                placeholder={{'Search Order'|trans}}
                                aria-label="Search" 
                                data-order-list-target="search"
                                value="{{ app.request.query.get('query') }}"
                                data-action="order-list#onSearchOrder"
                            />
                            <span class="fas fa-search search-box-icon"></span>
                        </form>
                    </div>
                    <div class="flatpickr-input-container me-2">
                        <input 
                            class="form-control ps-6 datetimepicker" 
                            name="datepicker" 
                            type="text"
                            data-order-list-target="dateRange"
                            value="{{ app.request.query.get('date') }}"
                            data-options ='{ "mode":"range","dateFormat":"M j, Y","disableMobile":true}'
                            data-action="order-list#onDateRange"
                        />
                        <span class="uil uil-calendar-alt flatpickr-icon text-700"></span>
                    </div>
                    <button class="btn px-3 btn-phoenix-secondary" type="button" data-bs-toggle="modal" data-bs-target="#filterModal" data-boundary="window" aria-haspopup="true" aria-expanded="false" data-bs-reference="parent"><span class="fa-solid fa-filter text-primary" data-fa-transform="down-3"></span></button>
                  
                    {{ include("order/_filtersForm.html.twig") }}
                </div>
              </div>
        </div>

        <div data-order-list-target="orderList">
            {{ include("order/list.html.twig") }}
        </div>          
    </div>
{% endblock %}