<table class="table table-sm fs--1 mb-0">
    <thead>
        <tr>
            <th class="sort align-middle" scope="col" data-sort="number" style="width:10%; min-width:100px;">{{ 'Number' |trans }}</th>
            <th class="sort align-middle" scope="col" data-sort="date" style="width:10%; min-width:100px;">{{ 'Date' |trans }}</th>
            <th class="align-middle" scope="col" data-sort="driver" style="width:15%; min-width:200px;">{{ 'Ship From' |trans }}</th>
            <th class="align-middle" scope="col" data-sort="customer" style="width:15%;">{{ 'Customer' |trans }}</th>
            <th class="align-middle" scope="col" data-sort="address" style="width:10%;  min-width:200px;">{{ 'Address' |trans }}</th>
            <th class="align-middle" scope="col" data-sort="active" style="width:10%;  min-width:200px;">{{ 'Status' |trans }}</th>
            <th class="align-middle" scope="col"                    style="width:15%;  min-width:200px;">{{ 'Actions' |trans }}</th>
        </tr>
    </thead>
    
    <tbody class="list" id="members-table-body">
        {% for entity in entities %}
            <tr class="hover-actions-trigger btn-reveal-trigger position-static">
                <td class="number align-middle white-space-nowrap">{{ entity.number }}</td>
                <td class="date align-middle white-space-nowrap">{{ entity.date |date('d-m-Y')  }}</td>
                <td class="align-middle white-space-nowrap">{{ entity.shipFrom.name}}</td>
                <td class="align-middle white-space-nowrap">{{ entity.customerId }}</td>
                <td class="align-middle white-space-nowrap">{{ entity.addressId }}</td>
                <td class="align-middle white-space-nowrap"></td>
                <td class="actions align-middle white-space-nowrap">
                    <a class="me-2" href="{{ path('app_order_edit', { orderEntity: entity.id }) }}" data-original-title="Edit" data-toggle="tooltip">
                        <i class="fa fa-pen-to-square"></i>
                    </a> 
                    <a href="{{ path('app_order_delete', { orderEntity: entity.id }) }}" data-original-title="Remove" data-toggle="tooltip">
                        <i class="fa fa-trash"></i>
                    </a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>