<div class="mx-n4 mx-lg-n6 px-4 px-lg-6 mb-9 bg-white border-y border-300 mt-2 position-relative top-1">
    <div class="table-responsive scrollbar ms-n1 ps-1">
        <table class="table table-sm fs--1 mb-0">
            <thead>
                <tr>
                    <th class="sort align-middle" scope="col" data-sort="number" style="width:10%; min-width:100px;">{{ 'Number' |trans }}</th>
                    <th class="sort align-middle" scope="col" data-sort="type" style="width:10%; min-width:100px;">{{ 'Type' |trans }}</th>
                    <th class="sort align-middle" scope="col" data-sort="date" style="width:10%; min-width:100px;">{{ 'Date' |trans }}</th>
                    <th class="align-middle" scope="col" data-sort="shipFrom" style="width:20%; min-width:200px;">{{ 'Ship From' |trans }}</th>
                    <th class="align-middle" scope="col" data-sort="customer" style="width:10%;">{{ 'Customer' |trans }}</th>
                    <th class="align-middle" scope="col" data-sort="address" style="width:20%;  min-width:200px;">{{ 'Address' |trans }}</th>
                    <th class="align-middle" scope="col" data-sort="active" style="width:10%;  min-width:200px;">{{ 'Status' |trans }}</th>
                    <th class="align-middle" scope="col"                    style="width:10%;">{{ 'Actions' |trans }}</th>
                </tr>
            </thead>
            
            <tbody class="list" id="members-table-body">
                {% if orders.getTotalItemCount > 0 %}
                    {% for entity in orders %}
                        <tr class="hover-actions-trigger btn-reveal-trigger position-static">
                            <td class="number align-middle white-space-nowrap">{{ entity.number }}</td>
                            <td class="type align-middle white-space-nowrap">{{ entity.type }}</td>
                            <td class="date align-middle white-space-nowrap">{{ entity.date |date('d-m-Y')  }}</td>
                            <td class="align-middle white-space-nowrap">{{ entity.shipFrom.name}}</td>
                            <td class="align-middle white-space-nowrap">{{ entity.customerId }}</td>
                            <td class="align-middle white-space-nowrap">{{ entity.addressId }}</td>
                            <td class="align-middle white-space-nowrap">{{ entity.status }}</td>
                            <td class="actions align-middle white-space-nowrap">
                                <a class="me-2" href="{{ path('app_order_edit', { orderEntity: entity.id }) }}" data-original-title="Edit" data-toggle="tooltip">
                                    <i class="fa fa-pen-to-square"></i>
                                </a> 
                                <a href="{{ path('app_order_delete', { orderEntity: entity.id }) }}" data-original-title="Remove" data-toggle="tooltip">
                                    <i class="fa fa-trash"></i>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                {% else %}
                    {# TODO: MESSAGE FOR NO ITEMS #}
                {% endif %}
            </tbody>
        </table>

        <div class="d-flex justify-content-center mt-3">
            {{ knp_pagination_render(orders) }}
        </div>
    </div>
</div>