{% extends 'baseError.html.twig' %}
{% block body %}
<div class="row justify-content-center g-5">
    <div class="col-12 col-lg-6 text-center order-lg-1">
        <img class="img-fluid w-lg-100 d-light-none" src="{{ asset('assets/img/spot-illustrations/500-illustration.png') }}" alt="" width="400" />
        <img class="img-fluid w-md-50 w-lg-100 d-dark-none" src="{{ asset('assets/img/spot-illustrations/dark_500-illustration.png') }}" alt="" width="540" />
    </div>
    <div class="col-12 col-lg-6 text-center text-lg-start">
        <img class="img-fluid mb-6 w-50 w-lg-75 d-dark-none" src="{{ asset('assets/img/spot-illustrations/500.png') }}" alt="" />
        <img class="img-fluid mb-6 w-50 w-lg-75 d-light-none" src="{{ asset('assets/img/spot-illustrations/dark_500.png') }}" alt="" />
        <h2 class="text-800 fw-bolder mb-3">{{ 'Unknow error!'| trans }}</h2>
        <a class="btn btn-lg btn-primary" href="{{ path('app_index') }}">{{ 'Home' | trans }}</a>
    </div>
</div>
{% endblock %}
