{% extends 'base.html.twig' %}

{% block body %}
    
    <h2 class="text-bold text-1100 mb-5">{{ "Items" | trans }}</h2>

    <div id="items"
         {{ stimulus_controller( 'item', {
            refreshUrl: path('app_item')
         }) }}>
        <div class="row align-items-center justify-content-between g-3 mb-4">
            <div class="col col-auto">
                <div class="search-box">
                    <form class="position-relative" data-bs-toggle="search" data-bs-display="static" action="{{ path('app_item') }}" method="get">
                        <input 
                            class="form-control search-input search" 
                            type="search" 
                            placeholder={{'Search Item'|trans}} 
                            aria-label="Search"
                            data-item-target="search"
                            data-action="item#onSearchItems"/>
                        <span class="fas fa-search search-box-icon"></span>
                    </form>
                </div>
            </div>
            <div class="col-auto">
                <div class="d-flex align-items-center">
                    <button class="btn btn-link text-900 me-4 px-0"><span class="fa-solid fa-file-import fs--1 me-2"></span>{{ 'Import' | trans }}</button>
                    <button class="btn btn-primary" onclick="location.href='{{ path('app_item_new') }}';"><span class="fas fa-plus me-2"></span>{{ 'Add Item' | trans }}</button>
                </div>
            </div>
        </div>

        <div data-item-target="itemsList">
            {{ include("item/list.html.twig", {
                entities: items
            }) }}
        </div>          
    </div>
{% endblock %}