<div class="row g-2">
    <div class="col-sm-6 col-md-6">
        <div class="form-check mb-3">
            {{ form_widget(form.active, {'attr': {'class': 'form-check-input', 'type': 'checkbox', 'id':'activeInput'}}) }}
            {{ form_label(form.active,  'Active'|trans, {'label_attr': {'class': 'form-label fs--1 text-none','for': 'floatingInputZone'}}) }}
        </div>
    </div> 

    <div class="col-sm-6 col-md-12">
        <div class="form-floating">
            {{ form_widget(form.name, { 'attr': { 'class': 'form-control', 'id':'floatingInputGrid', 'type':'text', 'placeholder': 'Full name'|trans }}) }}
            {{ form_label(form.name,  'Full name'|trans, {'label_attr': {'class': 'orm-label', 'for': 'floatingInputGrid'}}) }}
            <div class="invalid-feedback">{{ form_errors(form.name) }}</div>
        </div>
    </div>
    <div class="col-sm-6 col-md-12">
        <div class="form-floating">
            {{ form_widget(form.email, { 'attr': { 'class': 'form-control', 'id':'floatingInputGrid', 'type':'text', 'placeholder': 'Full name'|trans }}) }}
            {{ form_label(form.email,  'Email'|trans, {'label_attr': {'class': 'orm-label', 'for': 'floatingInputGrid'}}) }}
            <div class="invalid-feedback">{{ form_errors(form.email) }}</div>
        </div>
    </div>

    <div class="col-sm-6 col-md-12" {% if type == 'shipper' %} style="display: none" {% endif %}>
        {{ form_label(form.roleGroup,  'Role'|trans, {'label_attr': {'class': 'text-1000 fw-bold mb-2', 'for': 'role-type'}}) }}
        {{ form_widget(form.roleGroup, { 'attr': { 'class': 'form-select', 'id':'role-type', 'type':'text'}}) }}
        {{ form_errors(form.roleGroup) }}
    </div>
</div>

<div class="mb-6"></div> 

<div class="row">
    <div id="header_list"class="d-sm-flex align-items-center">
        <h3>{{ 'Permissions' |trans }}</h3>
    </div>

    <div class="mb-4"></div> 

    <div class="row" {% if type == 'shipper' %} style="display: none" {% endif %}>
        <div class="col-sm-3 col-md-3">
            <div class="form-check mb-3">
                {{ form_widget(form.roleAllowViewRoute, {'attr': {'class': 'form-check-input', 'type': 'checkbox', 'id':'activeInput'}}) }}
                {{ form_label(form.roleAllowViewRoute,  'Allow View Routes'|trans, {'label_attr': {'class': 'form-label fs--1 text-none','for': 'floatingInputZone'}}) }}
            </div>
        </div>
        <div class="col-sm-3 col-md-3">
            <div class="form-check mb-3">
                {{ form_widget(form.roleAllowViewOrders, {'attr': {'class': 'form-check-input', 'type': 'checkbox', 'id':'activeInput'}}) }}
                {{ form_label(form.roleAllowViewOrders,  'Allow View Orders'|trans, {'label_attr': {'class': 'form-label fs--1 text-none','for': 'floatingInputZone'}}) }}
            </div>
        </div>
        <div class="col-sm-3 col-md-3">
            <div class="form-check mb-3">
                {{ form_widget(form.roleAllowViewDirectories, {'attr': {'class': 'form-check-input', 'type': 'checkbox', 'id':'activeInput'}}) }}
                {{ form_label(form.roleAllowViewDirectories,  'Allow View Directories'|trans, {'label_attr': {'class': 'form-label fs--1 text-none','for': 'floatingInputZone'}}) }}
            </div>
        </div>
        <div class="col-sm-3 col-md-3">
            <div class="form-check mb-3">
                {{ form_widget(form.roleAllowUserManagement, {'attr': {'class': 'form-check-input', 'type': 'checkbox', 'id':'activeInput'}}) }}
                {{ form_label(form.roleAllowUserManagement,  'Allow User Management'|trans, {'label_attr': {'class': 'form-label fs--1 text-none','for': 'floatingInputZone'}}) }}
            </div>
        </div>
        <div class="col-sm-3 col-md-3">
            <div class="form-check mb-3">
                {{ form_widget(form.roleAllowDuplicate, {'attr': {'class': 'form-check-input', 'type': 'checkbox', 'id':'activeInput'}}) }}
                {{ form_label(form.roleAllowDuplicate,  'Allow Duplicate'|trans, {'label_attr': {'class': 'form-label fs--1 text-none','for': 'floatingInputZone'}}) }}
            </div>
        </div>
        <div class="col-sm-3 col-md-3">
            <div class="form-check mb-3">
                {{ form_widget(form.roleAllowEditOrders, {'attr': {'class': 'form-check-input', 'type': 'checkbox', 'id':'activeInput'}}) }}
                {{ form_label(form.roleAllowEditOrders,  'Allow Edit Orders'|trans, {'label_attr': {'class': 'form-label fs--1 text-none','for': 'floatingInputZone'}}) }}
            </div>
        </div>
        <div class="col-sm-3 col-md-3">
            <div class="form-check mb-3">
                {{ form_widget(form.roleAllowEditCompOrders, {'attr': {'class': 'form-check-input', 'type': 'checkbox', 'id':'activeInput'}}) }}
                {{ form_label(form.roleAllowEditCompOrders,  'Allow Edit Completed Orders'|trans, {'label_attr': {'class': 'form-label fs--1 text-none','for': 'floatingInputZone'}}) }}
            </div>
        </div>
        <div class="col-sm-3 col-md-3">
            <div class="form-check mb-3">
                {{ form_widget(form.roleAllowEditDirectories, {'attr': {'class': 'form-check-input', 'type': 'checkbox', 'id':'activeInput'}}) }}
                {{ form_label(form.roleAllowEditDirectories,  'Allow Edit Directories'|trans, {'label_attr': {'class': 'form-label fs--1 text-none','for': 'floatingInputZone'}}) }}
            </div>
        </div>
    </div>
    <div class="row" {% if type == 'userForm' %} style="display: none" {% endif %}>
        <div class="col-sm-3 col-md-3">
            <div class="form-check mb-3">
                {{ form_widget(form.roleAllowCanAddOrders, {'attr': {'class': 'form-check-input', 'type': 'checkbox', 'id':'activeInput'}}) }}
                {{ form_label(form.roleAllowCanAddOrders,  'Can add orders'|trans, {'label_attr': {'class': 'form-label fs--1 text-none','for': 'floatingInputZone'}}) }}
            </div>
        </div>
        <div class="col-sm-3 col-md-3">
            <div class="form-check mb-3">
                {{ form_widget(form.roleAllowCanEditOrders, {'attr': {'class': 'form-check-input', 'type': 'checkbox', 'id':'activeInput'}}) }}
                {{ form_label(form.roleAllowCanEditOrders,  'Can edit orders'|trans, {'label_attr': {'class': 'form-label fs--1 text-none','for': 'floatingInputZone'}}) }}
            </div>
        </div>
        <div class="col-sm-3 col-md-3">
            <div class="form-check mb-3">
                {{ form_widget(form.roleAllowCanDeleteOrders, {'attr': {'class': 'form-check-input', 'type': 'checkbox', 'id':'activeInput'}}) }}
                {{ form_label(form.roleAllowCanDeleteOrders,  'Can delete orders'|trans, {'label_attr': {'class': 'form-label fs--1 text-none','for': 'floatingInputZone'}}) }}
            </div>
        </div>
    </div>
</div>
