<div class="row flex-center {% if type == 'userForm' %} py-5 {% endif %}">
    <div class="col-xl-{{width}}">
        {{ form_start(form, {'attr': { 'novalidate': 'novalidate', 'class': "row g-3 mb-6 needs-validation" }}) }}
            <div class="{{classWhite}} mb-2">
                <div class="card-body">
                    {% if type == 'userForm' %}
                        <div class="d-flex align-items-center mb-2">
                            <h3>{{ 'User' |trans }}</h3>
                        </div>
                    {% endif %}

                    {{ include('user/_bodyForm.html.twig') }}
                    
                    <div class="col-12 gy-6">
                        <div class="row g-3 justify-content-end">
                            <div class="col-auto">
                                <a href="{{ path('app_user') }}" class="btn btn-phoenix-primary px-5">{{ 'Cancel' |trans }}</a>
                            </div>
                            <div class="col-auto">
                                <button type="submit" class="btn btn-primary px-5">{{ 'Save' |trans }}</button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
         {{ form_end(form) }}
    </div>
   
    <div {{ stimulus_controller('permissions', {'origin' : type == 'userForm' ? 'user' : 'shipper'}) }} </div>
</div>