<h1>
    {{ 'user_email_title' | trans }}
</h1>
<p>
    {{ 'user_email_body' | trans }}
    <br/>
    <br/>
    <a href="{{ url('app_reset_password', {token: resetToken.token}) }}">
        {{ url('app_reset_password', {token: resetToken.token}) }}
    </a>
    <p>
        {{ 'This link will expire in' | trans }}
        {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}
    </p>
</p>
<p>
    Cheers!
    
</p>
